<section class="user-form">
<h1>Log In:</h1>
<%=  @message %>
<form action="/session" method="post">
  <p><label for="name">Username</label>
  <input name="username" type="text"></p>

  <p><label for="password">Password</label>
  <input name="password" type="password"></p>

  <button>Log In</button>
</form>
</section>