<h1>Log in:</h1>
<%=  @message %>
<form action="/session" method="post">
  <label for="name">Username</label>
  <input name="username" type="text">

  <label for="password">Password</label>
  <input name="password" type="password">

  <button>Log In</button>
</form>