<form action="/items" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <br>
  <label for="price">Price:</label>
  <input type="text" name="price" id="price">
  <br>
  <label for="condition">Condition:</label>
  <input type="text" name="condition" id="condition">
  <br>
  <label for="description">Description:</label>
  <textarea name="description" id="description" cols="30" rows="10"></textarea>
  <br>
  <label for="life_span">Time Limit:</label>
  <input type="text" name="life_span" id="life_span">
  <br>
  <button>Post</button>
</form>